arviz==0.15.1
asttokens==2.4.1
backcall==0.2.0
cachetools==5.3.2
cloudpickle==3.0.0
comm==0.2.1
cons==0.4.6
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
etuples==0.3.9
executing==2.0.1
fastprogress==1.0.3
filelock==3.13.1
fonttools==4.47.0
h5netcdf==1.1.0
h5py==3.10.0
importlib-metadata==7.0.1
importlib-resources==6.1.1
ipykernel==6.28.0
ipython==8.12.3
jedi==0.19.1
jupyter-client==8.6.0
jupyter-core==5.7.0
kiwisolver==1.4.5
logical-unification==0.4.6
matplotlib==3.7.4
matplotlib-inline==0.1.6
miniKanren==1.0.3
multipledispatch==1.0.0
nest-asyncio==1.5.8
numpy==1.24.4
packaging==23.2
pandas==2.0.3
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.17.2
pymc==5.6.1
pyparsing==3.1.1
pytensor==2.13.1
python-dateutil==2.8.2
pytz==2024.1
pyzmq==25.1.2
scipy==1.10.1
six==1.16.0
stack-data==0.6.3
toolz==0.12.1
tornado==6.4
traitlets==5.14.1
typing-extensions==4.9.0
tzdata==2023.4
wcwidth==0.2.13
xarray==2023.1.0
xarray-einstats==0.5.1
zipp==3.17.0
